@page
@model FociWebapp.Pages.AdatokFeltolteseFajlbolModel
@{
}

<form method="post" enctype="multipart/form-data">
        <label asp-for="Feltoltes">Add meg a feltöltendő fájlt</label>
        <input asp-for="Feltoltes" type="file" />
        <input type="submit" value="Feltöltés" />
</form>
